<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vueconomy - API</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="main">
    {{{body}}}
  </div>
</body>

<style>
  body {
    margin: 0;
    background: rgba(58, 135, 250, 0.86);
    background: -moz-linear-gradient(-45deg, rgba(58, 135, 250, 0.86) 0%, rgba(58, 135, 250, 0.9) 0%, rgba(58, 135, 250, 1) 0%, rgba(0, 6, 112, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(58, 135, 250, 0.86)), color-stop(0%, rgba(58, 135, 250, 0.9)), color-stop(0%, rgba(58, 135, 250, 1)), color-stop(100%, rgba(0, 6, 112, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(58, 135, 250, 0.86) 0%, rgba(58, 135, 250, 0.9) 0%, rgba(58, 135, 250, 1) 0%, rgba(0, 6, 112, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(58, 135, 250, 0.86) 0%, rgba(58, 135, 250, 0.9) 0%, rgba(58, 135, 250, 1) 0%, rgba(0, 6, 112, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(58, 135, 250, 0.86) 0%, rgba(58, 135, 250, 0.9) 0%, rgba(58, 135, 250, 1) 0%, rgba(0, 6, 112, 1) 100%);
    background: linear-gradient(135deg, rgba(58, 135, 250, 0.86) 0%, rgba(58, 135, 250, 0.9) 0%, rgba(58, 135, 250, 1) 0%, rgba(0, 6, 112, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a87fa', endColorstr='#000670', GradientType=1);
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
</style>

</html>