<form id="login" method="post">
  <input id="email" type="email" name="email" value="" placeholder="Tu Email">
  <br>
  <input id="password" type="password" name="password" value="" placeholder="Tu Contraseña...">
  <br>
  <input type="submit" value="Login">
</form>

<span id="response"></span>

<script type="text/javascript">
  const formLogin = document.querySelector('#login');

  formLogin.addEventListener('submit', event => {
    event.preventDefault();
    var emailStr = document.getElementById('email').value;
    var passwordStr = document.getElementById('password').value;
    const params = new URLSearchParams();
    params.set('email', emailStr);
    params.set('password', passwordStr);

    fetch('/api/signin', {
      method: 'POST',
      body: params,
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
    })
      .then(response => response.json())
      .then(data => console.log('Token generado: ' + data.token))
      .catch(res => { alert('Ocurrio un error: ' + res.message) })
  });
</script>